.Favorites {
    font-size: 2rem;
    min-height: 100rem;
}

.Favorites>h1{
    font-size: 4rem;
}

#favoritesContainer{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}